body{
    background: linear-gradient(to right, red, yellow, green, blue, indigo);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.clear{
    clear: both;
}

/*----------HEADER-----------*/

header{
    width: 100%;
    height: 110px;
    border: solid 1px #000;
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    background-image: url(../img/menu-cover.jpg);
    background-position: center;
    background-size: 100% 250px;
}

.header-content{
    width: 100%;
    height: 100%;
    position: relative;
}

.logo{
    height: 80px;
}

.logo:hover{
    filter: drop-shadow(0 0 5px #fff); 
}

.menu{
    text-align: center;
    margin-left: 25%;
    padding: 5px;
}

.menu-item{
    float: left;
    position: relative;
    padding: 0 80px 0 80px;
}

.menu-item a{
    text-decoration: none;
    color: #fff;
}

.menu-item a:hover{
    text-shadow: 0px 0px 5px #fff;
}

/*---------------MAIN---------------*/

main{
    position: relative;
    width: 75%;
    height: fit-content;
    padding: 10px;
    border: solid 1px #000;
    border-radius: 7px;
    margin-left: 12.5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background-color: #3b3b3b;
    text-align: center;
}

.main-content{
    width: 100%;
}

.main-title{
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

.sub-title{
    text-decoration: underline;
}

.text-box{
    width: 75%;
    margin-left: 12.5%;
    text-align: left;
}

.picture{
    height: 250px;
    margin-bottom: 50px;
}

.picture img{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    height: 250px;
}

.pic-caption{
    margin-top: 0;
    font-size: 11px;
}

/*----------------PÁGINA FORMAÇÕES--------------*/

.formation{
    width: 100%;
    height: fit-content;
    border-top: 1px solid #000;
    position: relative;
    align-items: center;
    padding-bottom: 50px;
}

.formation-pic{
    float: left;
    position: relative;
    margin-left: 80px;
}

.formation-pic img{
    box-shadow: 0 0 5px #000;
}

.formation-text{
    position: relative;
    float: right;
    width: 40%;

    margin-right: 40px;
    margin-top: 60px;
    text-align: center;
    align-items: center;
}

.formation-text a{
    text-decoration: underline;
    color: #fff;
}

.formation-text a:hover{
    text-shadow: 0 0 5px #fff;
}

/*-----------PÁGINA DISCOGRAFIA--------------------*/

.album-box{
    width: 100%;
    height: ;
    border-top: 1px solid #000;
    padding: 15px 0 15px 0;
    align-items: center;
}

.album-img{
    position: relative;
    float: left;
    margin: 15px;
    margin-left: 20%;
}

.album-img img{
    height: 250px;
    box-shadow: 0 0 5px #000;
}

.tracklist{
    width: 40%;
    position: relative;
    float: right;
    margin: 15px;
}

.tracklist ol li{
    text-align: left;
}

.album-info{
    position: relative;
    width: fit-content;
    float: left;
    margin-left: 5%;
    text-align: left;
}

.stream{
    width: fit-content;
    padding: 5px;
    float: right;
    margin-right: 5%;
}

.stream .icons img{
    margin: 5px;
}